<html>
    <head>
        <body>
            <ul>
                {{#each products}}
                    <li>
                        <strong>{{name}}</strong>
                        <p>{{price}}</p>
                        <p>Comprar</p>
                    </li>
                {{/each}}
            </ul>
        </body>
    </head>
</html>